/*************** GRID ***************/

.grid-report {
    display: grid;
    grid-template-columns: 250px 50px;
    background-color: rgba(255, 255, 255, 60%);;
    max-width:fit-content;
    grid-gap: 10px;
    margin: 40px;
    padding: 10px;
    
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

 /*************************************/

 .help-label{
    margin: 40px 0px 0px 50px;
    color: rgb(255, 0, 0);
}

.report-wrap{
    display: flex;
    position: relative;
}


.report-buttons button  {
width: 100%;
padding: 15px;
margin-top: 2px;
  
}

.report-checkbox input[type="checkbox"]{
    
    height: 30px;
    width: 30px;
    margin: 15px 0px 0px 10px;
}


.report-content{
    display: flex;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
    cursor: pointer;
}

.button-group button {
    border: 2px solid black;
    color:black;    
    padding: 15px;
    margin: 50px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button-question input[type="checkbox"] {
    color:black;
    padding: 15px;
    display: block;
    margin: 64px;
    cursor: pointer;
    
}



.textArea textarea{

    margin: 50px 0px 0px 200px;
    width: 565px;
    height: 450px;
}



.textArea button{
    border: 2px solid black;
    color:black;
    padding: 13px;
    margin: 40px 0px 0px 200px;
    width: 181px;
    float:initial;
}

